{% extends "layout_not_logged_in.html" %}
{% block body_content %}

<!--<&#45;&#45;! start html code from here - no need for the boilerplate code as this is inherited from layout.html &ndash;&gt;-->
<!-- overall bootstrap container -->
<div class="d-flex justify-content-center">

    <div class="container-home">

        <!-- logo section -->
            <div class="d-flex justify-content-center">
                <div id="logo-banner">
                    <img class="logo" src="../static/img/currency-logo.png" style="float:left" alt="currency">
                    <h1 class="banner" style="font-weight:bold; float:left; font-size:2.5rem">Xchange</h1>
                </div>
            </div>

            <!-- content section -->
        <div class="d-flex justify-content-center">

            <div class="content-sections">
                <div class="new-customer">
                    <p>New Customer? Sign up for an account</p>
                    <button class="btn1"><a href="{{ url_for('user_sign_up') }}" style="color:white">Create New Account</a></button>
                </div>
                <div class="existing-customer">
                    <p >Existing Customer? Log into your account</p>
                    <button class="btn2"><a href="{{ url_for('user_login') }}" style="color:white">Log Into Account</a></button>

                </div>
            </div>

    </div>
</div>
</div>

<!--<&#45;&#45;! all html code should be before the below endblock tag so the footer remains at the bottom of page &ndash;&gt;-->
{% endblock %}
</div>
</section>